html {
    -webkit-text-size-adjust: 100%;
    -webkit-print-color-adjust: exact
}

body {
    font-family: sans-serif;
    color: #333;
    background-color: #fafafa;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {
    display: block
}

@-webkit-viewport {
    width: device-width
}

@-moz-viewport {
    width: device-width
}

@-ms-viewport {
    width: device-width
}

@-o-viewport {
    width: device-width
}

@viewport {
    width: device-width
}

a {
    text-decoration: none;
    -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out
}

.btn {
    background-color: #58686f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding: 1.5em;
    font-size: .875em;
    line-height: 1;
    border-radius: 4px;
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto
}

.btn:hover {
    background-color: #414d53
}

img,video,object {
    max-width: 100%;
    display: block
}

h2 {
    margin: 0;
    font-size: 1.125em;
    font-weight: 600;
    color: #58686f
}

h4 {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: normal;
    font-size: .875em;
    color: #999;
    margin: 0
}

.wrap {
    width: 95%;
    max-width: 540px;
    margin: 0 auto
}

.wrap:after {
    content: "";
    display: table;
    clear: both
}

::-moz-selection {
    background-color: #34aadc;
    color: #fff
}

::-moz-selection {
    background-color: #34aadc;
    color: #fff
}

::selection {
    background-color: #34aadc;
    color: #fff
}

@-webkit-keyframes slideup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px) rotate(10deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }

    80% {
        -webkit-transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0) rotate(0deg)
    }
}

@keyframes slideup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(2000px) rotate(10deg)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-30px)
    }

    80% {
        -webkit-transform: translateY(10px)
    }

    100% {
        -webkit-transform: translateY(0) rotate(0deg)
    }
}

@-webkit-keyframes popup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10px)
    }

    80% {
        -webkit-transform: translateY(2px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@keyframes popup {
    0% {
        opacity: 0;
        -webkit-transform: translateY(30px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translateY(-10px)
    }

    80% {
        -webkit-transform: translateY(2px)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-webkit-keyframes container-slide {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(0deg)
    }
}

@keyframes container-slide {
    0% {
        opacity: 0;
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(0deg)
    }
}

@-webkit-keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 100
    }
}

@keyframes fadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 100
    }
}

#header {
    text-align: center;
    padding: 3em 0;
    -webkit-animation: fadein 0.5s ease-in-out both 0.4s;
    animation: fadein 0.5s ease-in-out both 0.4s
}

.logo {
    font-size: 2.25em;
    font-weight: 600;
    color: #bfbfbf;
    max-width: 300px;
    display: block;
    margin: 0 auto
}

.logo:hover {
    color: #999999
}

.logo img {
    max-height: 100%;
    margin: 0 auto
}

.shop-url {
    display: none
}

main {
    -webkit-animation: slideup 0.8s ease-in-out;
    animation: slideup 0.8s ease-in-out
}

#gift-card-outer-container {
    background-color: #34aadc;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1) inset;
    padding: 1em;
    -webkit-animation: container-slide 0.8s ease-in-out;
    animation: container-slide 0.8s ease-in-out
}

#gift-card-inner-container {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    border-radius: 2px;
    -webkit-animation: cardslide 0.8s ease-in-out;
    animation: cardslide 0.8s ease-in-out
}

#gift-card-inner-container:after {
    content: "";
    display: table;
    clear: both
}

#gift-card-header {
    border-bottom: 1px solid #f2f2f2;
    padding: .75em;
    display: block;
    overflow: hidden;
    position: relative
}

#gift-card-header h2 {
    float: left;
    margin: .12em 0
}

.tag {
    background-color: #4BB543;
    padding: .5em;
    padding-bottom: .35em;
    border-radius: 4px;
    font-size: .75em;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: #FFF;
    line-height: 1
}

.tag.light {
    background: transparent;
    color: #bfbfbf;
    border: 1px solid #d9d9d9
}

#gift-card-header .tag {
    float: right
}

#gift-card-tofrom {
    list-style-type: none;
    padding: 1em .75em 0;
    margin: 0
}

#gift-card-tofrom li {
    padding: .5em 0
}

#gift-card-tofrom li:after {
    content: "";
    display: table;
    clear: both
}

#gift-card-tofrom h4 {
    float: left;
    width: 5em
}

#gift-card-tofrom a {
    float: left;
    font-weight: 600;
    color: #58686f
}

#gift-card-tofrom a:hover {
    color: #34aadc
}

#gift-card-holder {
    margin: .75em;
    margin-bottom: 1.25em;
    margin-top: 1.25em;
    position: relative
}

#gift-card-holder .corner {
    display: block;
    width: 47px;
    height: 47px;
    position: absolute;
    z-index: 2
}

#gift-card-holder .corner.top-left {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-top-left-407e052d38db02cf8ccc1d63452be868fdeec83d4c0be2fd14a4c9558d422948.png) 0 0 no-repeat;
    top: -1px;
    left: -1px
}

.svg #gift-card-holder .corner.top-left {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-top-left-cc5e5fa342669b3ea989527fbbd6439b8adb3b6dedcb198e79cdd8d6776012c5.svg) 0 0 no-repeat
}

.no-borderradius #gift-card-holder .corner.top-right {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-top-right-1372b088666d07754d697ce54b7f3e598ef323d836641da7f4eac80bde3c5af4.png) 0 0 no-repeat;
    top: 0px;
    right: 0px;
    width: 7px;
    height: 7px
}

.no-borderradius #gift-card-holder .corner.bottom-left {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-bottom-left-6ba1f17732c9e039bf2d42d91d6d0776592468b4a07f06ea4e317da044d37c2a.png) 0 0 no-repeat;
    bottom: 0px;
    left: 0px;
    width: 7px;
    height: 7px
}

#gift-card-holder .corner.bottom-right {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-bottom-right-8733072c71085ba883290401b7a9dd49ae03d6f287a9f0913dc439ac7319b7a5.png) 0 0 no-repeat;
    bottom: -1px;
    right: -1px
}

.svg #gift-card-holder .corner.bottom-right {
    background: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/corner-bottom-right-cc7664ee5e687c68f307b59802f08677b6333ee52a61b8e192e321854d94dc90.svg) 0 0 no-repeat
}

#gift-card {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative
}

#gift-card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    box-shadow: inset 0px 0px 0px 1px rgba(0,0,0,0.1);
    border-radius: 10px;
    z-index: 1;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block
}

#gift-card img {
    border-radius: 10px
}

#gift-card-code-outer {
    position: absolute;
    bottom: 1em;
    text-align: center;
    width: 100%
}

#gift-card-code-outer.medium {
    font-size: .875em
}

#gift-card-code-outer.small {
    font-size: .75em
}

#gift-card-code-inner {
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto;
    background-color: #fff;
    padding: .5em;
    border-radius: 4px;
    max-width: 450px;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 0 1px rgba(0,0,0,0.1)
}

.small #gift-card-code-inner {
    overflow: auto
}

#gift-card-code-inner strong {
    font-weight: 400;
    font-size: 1.875em;
    text-transform: uppercase;
    border-radius: 2px;
    border: 1px dashed #e5e5e5;
    padding: .4em .5em;
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto;
    color: #777;
    line-height: 1
}

#gift-card-code-inner span+span {
    margin-left: .25em
}

#gift-card-amount {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 2.75em;
    padding: .4em .5em
}

#gift-card-amount.medium {
    font-size: 2.25em
}

#gift-card-amount strong {
    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
    display: block
}

.tooltip {
    position: relative
}

.tooltip-container {
    display: block;
    position: absolute;
    top: -100%;
    right: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    -webkit-animation: popup 0.5s ease-in-out both 0.7s;
    animation: popup 0.5s ease-in-out both 0.7s;
    top: -50%;
    margin-top: .25em
}

.tooltip:hover .tooltip-container {
    display: block
}

.tooltip-triangle {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 5px solid #333;
    border-top: 5px solid rgba(51,51,51,0.9);
    position: absolute;
    left: 100%;
    bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px
}

.tooltip-label {
    display: block;
    position: relative;
    right: -50%;
    border: none;
    border-radius: 4px;
    background: #333;
    background: rgba(51,51,51,0.9);
    min-height: 14px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    line-height: 16px;
    text-shadow: none;
    padding: .5em .75em;
    margin-left: .25em
}

#gift-card-amount .tooltip-label {
    font-size: .4em;
    color: #fff
}

#gift-card-amount .tooltip-label small {
    text-transform: uppercase;
    letter-spacing: .1em;
    color: #b3b3b3;
    font-size: .875em
}

#gift-card-instructions {
    font-size: .875em;
    text-align: center;
    color: #999;
    margin: 0 .75em 1.5em
}

#qr-code {
    display: block
}

#apple-wallet-badge {
    margin: auto
}

#qr-code img {
    padding: .75em;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 0 auto 1.5em
}

#gift-card-actions {
    border-top: 1px solid #f2f2f2;
    padding: 1.25em .75em;
    text-align: center;
    position: relative;
    display: block;
    overflow: hidden
}

#gift-card-actions .btn {
    float: right
}

.action-link {
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: .2em;
    line-height: 1;
    color: #bfbfbf;
    padding: 1.5em 0
}

.action-link:hover {
    color: #999999
}

.action-link.left {
    float: left
}

.action-link.left .ico-16 {
    margin-right: .5em
}

.action-link .ico-16 {
    opacity: .25;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out
}

.action-link:hover .ico-16 {
    opacity: .4
}

.ico-16 {
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto;
    width: 17px;
    height: 17px;
    vertical-align: bottom;
    margin-bottom: -1px;
    background-position: 0 0;
    background-repeat: no-repeat
}

.ico-16.print {
    background-image: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/icon-print-2cc4520b4b6301df62b80ade51c8c6b154847d7b59babc350b68f168f7d07665.png)
}

.svg .ico-16.print {
    background-image: url(//cdn.shopify.com/shopifycloud/shopify/assets/themes_support/gift-card/icon-print-fbdd8d9ad2c45349434cf82b59ac03a0d68861e6954fc80e269c0162b9bbec59.svg)
}

footer[role='contentinfo'] {
    text-align: center;
    padding: 3em 0;
    -webkit-animation: fadein 0.5s ease-in-out both 0.4s;
    animation: fadein 0.5s ease-in-out both 0.4s
}

#footer-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-bottom: 3em
}

#footer-links li {
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto
}

#footer-links li+li {
    margin-left: 1em
}

#footer-links li a {
    color: #bfbfbf
}

#footer-links li a:hover {
    color: #999999
}

footer[role='contentinfo'] .gift-card-icon {
    width: 45px;
    display: inline-block;
    vertical-align: baseline;
    zoom:1;*display: inline;
    *vertical-align: auto
}

@media screen and (max-width: 580px) {
    body {
        font-size:12px
    }

    h2 {
        font-size: 1.5em
    }

    #gift-card-outer-container {
        padding: .5em
    }

    .tooltip-container {
        top: -65%
    }

    #gift-card-actions .btn {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        font-size: 1.125em
    }

    .action-link {
        position: relative !important;
        left: auto !important;
        right: auto !important;
        top: auto !important;
        font-size: 1.125em;
        display: none
    }

    .action-link+.action-link {
        margin-left: 1.5em
    }

    #footer-links li {
        font-size: 1.125em
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size:1.25em
    }

    #gift-card {
        font-size: 10px
    }

    #gift-card-holder .corner {
        display: none
    }

    #gift-card-holder .corner.bottom-right {
        background-position: bottom right !important
    }

    #gift-card-amount strong {
        text-shadow: 2px 2px 0 rgba(0,0,0,0.1)
    }

    .tooltip-container {
        top: -75%
    }
}

@media screen and (max-height: 800px) {
    .logo {
        max-height:100px
    }
}

@media screen and (max-height: 750px) {
    .logo {
        max-height:80px
    }

    #header {
        padding: 2em 0
    }
}

@media print {
    @page {
        margin: 0.5cm
    }

    p,h2,h3 {
        orphans: 3;
        widows: 3
    }

    h2,h3 {
        page-break-after: avoid
    }

    body {
        background-color: #fff
    }

    #gift-card-actions,#gift-card-holder .corner,.tooltip-container,#gift-card:before,#apple-wallet-badge {
        display: none
    }

    #gift-card-code-inner strong {
        color: #555
    }

    #gift-card-amount .tooltip {
        color: #fff !important
    }

    .shop-url {
        color: #7c8f97;
        display: block
    }

    .logo {
        color: #58686F
    }

    #gift-card-outer-container,#gift-card-inner-container,#gift-card-code-inner,#gift-card:before {
        -webkit-box-shadow: none;
        box-shadow: none
    }
}


/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* cyrillic-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  